
.hero {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://preview.redd.it/99400v5s58p81.jpg?auto=webp&s=4ab3ffc9e319381c417ffaa53bce9acfa6437478');
	height: 55%;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
  &__text{
    font-size: 2vw;
    text-align: center;
    color: white;
    margin-top: 128px;
    font-family: verdana;
  }

}


.button{
	margin-top: 36px;
	margin-bottom: 24px;
	text-align: center;

  &__button{
    background-color: rgb(47, 90, 54);
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    &:hover {
      background-color: rgb(47, 104, 57);
      cursor: pointer;
    }
    &:active {
      background-color: black;
    }
  }
}

.users {
  &__image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &__text{
    margin-top: 16px;
    margin-bottom: 64px;
    text-align: center;
  }
}



.subscription{
  &__title{
    font-family: verdana;
    font-size: 48px;
    display: inline-block;
  }
  &__price{
    color: rgb(47, 90, 54);
    font-family: verdana;
    font-size: 64px;
    display: inline-block;
    font-weight: bold;
  }

  &__contains{
    display: inline-block;
    vertical-align: top;
  }

}

.pdf__icon{
  display: inline-block;
  vertical-align: top;
  &:hover {
    opacity: 0.6;
  }
}

