.calorie-result{
    text-align: center;
}

.user-name{
  color: rgb(47, 104, 57);
  font-family: verdana;
  font-weight: bold;
  font-size: 64px;
}

.text1{
  color: rgb(142, 168, 147);
  font-family: verdana;
  font-weight: bold;
  font-size: 24px;
}

.text2{
  color: rgb(90, 108, 94);
  font-family: verdana;
  font-weight: bold;
  font-size: 36px;
}

.text3{
  color: rgb(142, 168, 147);
  font-family: verdana;
  font-weight: bold;
  font-size: 16px;
}

.text4{
  color: rgb(142, 168, 147);
  font-family: verdana;
  font-weight: bold;
  font-size: 24px;
}

.res{
  color: rgb(47, 104, 57);
  font-family: verdana;
  font-weight: bold;
  font-size: 24px;
}
table{
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid;
  text-align: center;
  color: white;
}

.day-meal {
  background-color: rgb(119, 156, 126);
  border-radius: 6px;
  margin-bottom: 128px;


}

.week-meal {
  background-color: rgb(144, 156, 119);
  border-radius: 6px;

}

th, td {
  border: 1px solid black;
  border-radius: 6px;
  font-weight: bold;
  font-family: verdana;
  background-color: rgb(67, 105, 74);

}
