/* LEHE SPETSIIFILISED (index.css / form.css...) */

body,
html {
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  font-size: 300%;
  text-align: center;
}

p.indent {
  font-size: 150%;
  text-align: center;
  width: 800px;
  height: 300px;
  margin: 0 auto;
  margin-top: 12px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://preview.redd.it/99400v5s58p81.jpg?auto=webp&s=4ab3ffc9e319381c417ffaa53bce9acfa6437478');
  height: 55%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-size: 300%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.button-container{
  margin-top: 36px;
  margin-bottom: 24px;
  text-align: center;
}


.form {
  background-color: rgb(47, 90, 54);
  color: white;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
}

.form:hover{
  background-color: rgb(47, 104, 57);
}

.form:active{
  background-color: black;
}


.users-box {
  width: 1500px;
  height: 300px;
  margin: 0 auto;
}

.price-box {
  display: inline-block;
  vertical-align: top;

}

.sub-box{
  display: inline-block;
  vertical-align: top;
  margin-left: 96px;
  text-align: center;
}

.price-contains{
  display: inline-block;
  vertical-align: top;
}

.description{
  font-size: 24px;
  color: rgb(47, 90, 54);

}

/* .statham {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  left: 40%;
}

.muslce {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  left: 20%;
} */

.obama {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
}

.user-text{
  display: inline-block;
  width: 200px;
  margin-right: 16px;

}
/* 
.obama-text {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 15%;
  top: 10%;
}

.muscle-text {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 49%;
  top: 10%;
}

.statham-text {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 82.5%;
  top: 10%;
} */

.subscription {
  font-family: verdana;
  font-size: 48px;
  display:inline-block;
}

.price {
  color: rgb(47, 90, 54);
  font-family: verdana;
  font-size: 64px;
  display:inline-block;
  font-weight: bold;

}

.pdf-info{
  margin-top: 32px;
  text-align: center;
}

.icon{
  display: inline-block;
  vertical-align: top;

}

.pdf-desc{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 24px;
  margin-left: 64px;
}

.pdf-desc-title{
  color: rgb(47, 90, 54);
  font-family: verdana;
  font-size: 24px;
}

.pdf-icon:hover{
  opacity: 0.6;
}
