.calorie-result{
    text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(47, 90, 54);
  text-align: center;
  background-position: top;
  width: 100%;
  height: 64px;
}

.topnav a {
  background-color: rgb(47, 90, 54);
  color: white;
  font-family: verdana;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  border: none;
  padding: 12px 12px;
  height: 100%;

}

.topnav a:hover {
  background-color: #ddd;
  background-color: rgb(47, 104, 57);

}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.text1{
  color: rgb(142, 168, 147);
  font-family: verdana;
  font-weight: bold;
  font-size: 24px;
}

.text2{
  color: rgb(90, 108, 94);
  font-family: verdana;
  font-weight: bold;
  font-size: 36px;
}

.text3{
  color: rgb(142, 168, 147);
  font-family: verdana;
  font-weight: bold;
  font-size: 16px;
}

.res{
  color: rgb(47, 104, 57);
  font-family: verdana;
  font-weight: bold;
  font-size: 24px;
}

.day-meal {
  text-align: center;
  margin: 0 auto;
  border: 1px solid;
  background-color: rgb(119, 156, 126);
  color: white;
  border-radius: 6px;
}

th, td {
  border: 1px solid black;
  border-radius: 6px;
  font-weight: bold;
  font-family: verdana;
  background-color: rgb(67, 105, 74);


}