/* loh */
body {
  background-color: white;
  margin: auto 0;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: rgb(47, 90, 54);
  font-family: verdana;
  font-size: 10vw;
  margin: 0 auto;
}

h2 {
  color: rgb(101, 118, 106);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 100%;
}

input[type='text'] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
}

.footer{
  text-align: center;
  background-color: rgb(47, 90, 54);
  color: white;
  margin-top: 64px;

}

.footer-text{
  display: inline-block;
  margin-left: 16px;
  font-family: Verdana;
  height: 32px;
}

.github{
  text-align: center;
}

.git-icon{
  margin-bottom: 8px;
}

.git-icon:hover{
  opacity: 0.6;
}

.footer-text{
  font-family: verdana;
  font-weight: bold;
}

