
body {
  background-color: white;
  margin: auto 0;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: rgb(47, 90, 54);
  font-family: verdana;
  font-size: 10vw;
  margin: 0 auto;
  font-weight: bold;
}

h2 {
  color: rgb(101, 118, 106);
  font-family: 'Verdana';
  font-size: 100%;
}

.title2{
  margin-top: 16px;
	color: rgb(47, 90, 54);
	font-family: verdana;
	font-size: 20px;
  font-weight: bold;
}

.text1 {
	font-family: verdana;
	font-weight: bold;

  &__green{
    color: rgb(47, 90, 54);
    font-family: verdana;
    font-weight: bold;
  }

  &__grey{
    color: rgb(93, 107, 96);
    font-family: verdana;
    font-weight: bold;
    font-size: 14px;
  }
}

input[type='text'] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
}

.footer{
  text-align: center;
  background-color: rgb(47, 90, 54);
  color: white;
  margin-top: 64px;

  &__text {
    display: inline-block;
    margin-left: 16px;
    margin-top: 16px;
    font-family: Verdana;
    height: 32px;
    font-weight: bold;
  }

  &__github{
    text-align: center;

    &__icon{
      margin-bottom: 16px;

      &:hover{
        opacity: 0.6;

      }

    }
  }



}




